@inherits LayoutComponentBase
@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />
<div class="page" dir="rtl">
   

    <main>
        

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
